*{
        font-family: "Courier New", Courier, monospace;
        background-color: palegreen;
        color: MediumSlateBlue;
        
      }
      .logindev {
        border-style: solid;
        width: 100%;
        padding: 10px;
        /*text-align: right;*/
        display: inline-block;
        vertical-align: top;
        margin: 10px;
      }  
      .err{
        color: red;
      }